//
   Created by dsds on 10/10/15.
extends layout

block content
  div.header
    div.row
      h3
        a(href="/").title= title
        |  |
        strong  admin
      nav
        a.button(href="/logout") Logout
    div.row.dashboard
      a(href="/admin/", class=page == 'status' ? 'current' : '') Status
      a(href="/admin/users", class=page == 'users' ? 'current' : '') Users
      a(href="/admin/quizzes", class=page == 'quizzes' ? 'current' : '') Quizzes
      a(href="/admin/flow", class=page == 'flow' ? 'current' : '') Flow
      a(href="/admin/settings", class=page == 'settings' ? 'current' : '') Site Settings
  div.container.admin
    div.row
      block view
  block footer