extends layout

block content
  div.header
    h3
      a(href=path + "/").title= title
    nav
      if !user
        a.button(href=path + "/login")= __("Login")
      else
        a.button(href=path + "/logout") #{__("Logout")} (#{user.username})
  div.container
    div.row
      h1= __('ERROR! ') + status + ' ' + message
