extends layout

block content
  div.header
    h3
      a(href="/").title= title
    nav
      if !user
        a.button(href="/login")= __("Login")
      else
        if user.group === 'admin'
          a.button(href="/admin")= __("Admin")
        a.button(href="/logout") #{__("Logout")} (#{user.username})
  div.container
    if success && success.length
      p.success #{success}
    if error && error.length
      p.success #{error}
    div.row
      if !user
        p #{__("Welcome to")} #{title}
        a.button.button-primary(href="/register")= __("Register")
        span= " "
        a.button.button-primary(href="/login")= __("Login")
      else
        p Hello, #{user.username}
        if user.gid
          ul
            each quiz in data
              li
                a(href="/quiz/" + quiz._id)= quiz.title
        else
          p= __("Please contact us to join a group!")
