//
   Created by dsds on 10/10/15.
extends layout

block content
  div.header
    h3
      a(href=path + "/").title= title
    nav
      if user
        a.button(href=path + "/logout") Logout (#{user.username})
  div.container
    div.row
      div.one-half.column
        h1= __("Login")
        if message && message.length
          p.error #{message}
        form(action=path + "/login", method="post")
          div
            label= __("Username")
            input(type="text", name="username").u-full-width
          div
            label= __("Password")
            input(type="password", name="password").u-full-width
          div
            input(type="submit", value=__("Log In")).button.button-primary
          div
            =__("...or")
            =" "
            a(href=path + "/register")= __("register")