//
   Created by dsds on 10/12/15.

extends layout
block content
  div.header
    h3
      a(href=path + "/").title= title
    nav
      if !user
        a.button(href=path + "/login")= __("Login")
      else
        if user.group === path + '/admin'
          a.button(href=path + "/admin")= __("Admin")
        a.button(href=path + "/logout") #{__("Logout")} (#{user.username})
  div.container
    div.row
      if !user
        p Welcome to #{title}
        a.button.button-primary(href=path + "/register")= __("Register")
      else
        a.button.float-right(href=path + "/")= __("Back")
        h1= data.title
        div !{data.content}
        form(action=path + "/key", method="POST")
          input(name="key", type="text")
          input(name="qid", type="text", value=data._id, style="display:none")
          br
          input.button.button-primary(type="submit", value=__("Submit"))